html, body{
    /* border: 10px solid yellow; */
    height: auto;        /* Allow content to grow the page */
    min-height: 100vh;   /* Minimum fills the screen */
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    box-sizing: border-box;
}

:root {
    --background-color:  rgba(32,32,32,255);
    --input-color: rgb(73, 73, 73);
    --border-color: rgb(73, 73, 73);
    --box-shadow-color: rgba(44,44,44,255);
}